.aside {
  position: fixed;
  top: 88px;
  right: 0;
  left: auto;
  width: 100vw;
  height: 100vh;
  bottom: auto;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 88px;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;

  @include tablet {
    transform: translateX(0);
    overflow-x: hidden;
    overflow-y: scroll;
    position: static;
    max-width: 50vw;
    top: 88px;
    padding-top: 88px;
    padding-bottom: 0px;
  }
}

.aside.open {
  transform: translateX(0);
}

.marquee-border {
  white-space: pre;
  padding: 16px 0px;
  @include tablet {
    padding: 20px 0px;
  }
}

.marquee-title {
  display: inline-flex;
  width: auto;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  color: #463fd5;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  // position: relative;
  span {
    white-space: pre;
    animation: marquee 5s linear infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-border {
  background-color: white;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}
