.aside {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 64px;
  scroll-behavior: smooth;
  @include tablet {
    max-width: 50vw;
    top: 88px;
    padding-top: 88px;
    margin-bottom: 0px;
  }
}

.marquee-title {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  color: blue;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-border {
  background-color: white;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}
