.contact {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      align-items: center;
      font-size: 16px;
      color: black;
      border-bottom: 2px solid black;
      @include tablet {
        font-size: 32px;
      }
      & span:hover {
        color: #463fd5;
      }
    }
  }
}
