.main {
  width: 100vw;
  overflow-x: hidden;
  @include tablet {
    overflow-y: scroll;
    width: 50vw;
    border-right: 2px solid black;
  }
}

.paragraph {
  font-size: 20px;
  @include tablet {
    font-size: 32px;
  }
}

.cv-btn {
  margin: 24px 24px 56px 24px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50px;
  padding: 12px 24px;
  background-color: pink;
  &:hover {
    background-color: rgb(236, 125, 143);
  }

  & a {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.burguer {
  @include tablet {
    display: none;
  }
}

.burguer div {
  background-color: black;
  width: 20px;
  height: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
  transition: transform 0.5s ease-in;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
  transition: transform 0.5s ease-in;
}
