.projects {
  &__name {
    font-size: 40px;
    color: black;
    border-bottom: 2px solid black;
  }
}

.link {
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    font-size: 32px;
  }
}

.fa-arrow-right {
  color: black;
  width: 20px;
  height: auto;
}
