@import './assets/core/resset';

body {
  height: 100%;
}

.wrapper {
  padding: 20px 40px;
}

.columns-container {
  position: relative;
  display: inline-flex;
  height: 100vh;
}

.header {
  border-bottom: 2px solid black;
  width: 50%;
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 1;

  &__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.header-left {
  border-right: 2px solid black;
}

.aside {
  width: 50%;
  overflow: scroll;
  position: relative;
  top: 88px;
  bottom: 88px;
  scroll-behavior: smooth;
}

.main {
  width: 50%;
  overflow-y: scroll;
  position: relative;
  top: 88px;
  bottom: 88px;
  border-right: 2px solid black;
}

.paragraph {
  font-size: 40px;
}

.character {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: color 4s ease, top 4s ease, left 4s ease;
  top: 0;
  left: 0;
}

.marquee-title {
  font-size: 40px;
  color: blue;

  text-transform: uppercase;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee-border {
  border-bottom: 2px solid black;
}

.link {
  font-size: 40px;
  color: black;
}

// CONTACT

.contact {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      font-size: 40px;
      color: black;
      border-bottom: 2px solid black;
    }
  }
}

// PROJECTS

.projects {
  &__name {
    font-size: 40px;
    color: black;
    border-bottom: 2px solid black;
  }
}

.footer {
  // border-top: 2px solid black;
  // position: fixed;
  // font-size: 20px;
  // line-height: 20px;
  // bottom: 0px;
  // background-color: white;
  // width: 100%;

  border-top: 2px solid black;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  bottom: 0px;
  top: auto;
  background-color: white;
  width: 100%;
  text-transform: uppercase;
}
