.App {
  /* height: 100vh; */
}

.paragraph {
  font-size: 30px;
  padding: 0 40px;
  text-align: justify;
}

.character {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: color 4s ease, top 4s ease, left 4s ease;
  top: 0;
  left: 0;
}

.footer {
  background-color: bisque;
  height: 100px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  margin-top: 40px;
}

.menu {
  padding-top: 10px;
}

.menu__list {
  margin: 20px 40px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  display: inline-block;
}

.link {
  font-size: 30px;
  color: black;
}

.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 40px;
}

.return-btn {
  display: inline-block;
  background-color: black;
  color: white;
  width: 250px;
  padding: 12px 32px;
  margin-bottom: 40px;
}

.cv-img {
  width: 800px;
}
