@import './assets/core/resset';
@import './assets/core/mixins';
@import './assets/partials/_main';
@import './assets/partials/_aside';
@import './assets/partials/_character';
@import './assets/partials/_contact';
@import './assets/partials/_footer';
@import './assets/partials/_projects';
@import './assets/partials/_header';

@font-face {
  font-family: 'SpaceMono';
  src: url('./fonts/SpaceMono/SpaceMono-Bold.ttf');
  src: url('./fonts/SpaceMono/SpaceMono-BoldItalic.ttf');
  src: url('./fonts/SpaceMono/SpaceMono-Italic.ttf');
  src: url('./fonts/SpaceMono/SpaceMono-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: SpaceMono;
}

.wrapper {
  padding: 20px 40px;
}

.columns-container {
  width: 100%;
  @include tablet {
    position: relative;
    display: flex;
    height: 100vh;
  }
}

.main {
  @include tablet {
    padding-top: 100px;
    padding-bottom: 88px;
  }
}
