@import './assets/core/resset';
@import './assets/core/mixins';
@import './assets/partials/_main';
@import './assets/partials/_aside';
@import './assets/partials/_character';
@import './assets/partials/_contact';
@import './assets/partials/_footer';
@import './assets/partials/_projects';
@import './assets/partials/_header';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.wrapper {
  padding: 20px 40px;
}

.columns-container {
  position: relative;
  display: flex;
  height: 100vh;
}

.main {
  padding-top: 100px;
  padding-bottom: 88px;
}
